[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
ipdb = "*"
django-cors-headers = "*"

[dev-packages]
ipdb = "*"

[requires]
python_version = "3.8"
