{% extends 'tweetApp/bases/basepage.html' %}
{% load static %}

{% block title %}my tweets{% endblock title %}

{% block content %}


  <div id="tweet-form-container" align="center">
	{% include 'tweetApp/pages/components/create_tweet_form.html' %}
  </div><br><br>

  <div id="tweets-list"></div>
  
{% endblock content %}

{% block load_scripts %}
	
	<script type="text/javascript" src="{% static 'js/tweets_list_porcessing.js' %}">
	</script>

	<script type="text/javascript" src="{% static 'js/ajax_tweetform_processing.js' %}">
	</script>

{% endblock load_scripts %}

