<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000"/>
    
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    {% include 'react/css.html' %}  <!-- Подтягиваем стили из реакта  -->

    <title>{% block title %}{% endblock title %}</title>

  </head>
  <body>

  {% include 'tweetApp/pages/components/navbar.html' %}

  <div class="container-fluid">
	  {% block content %}

	  {% endblock content %}
  </div>

  <script>{% block html_script %}{% endblock html_script %}</script>

  {% block load_scripts %}{% endblock load_scripts %}

  {% include 'react/base_embad.html' %}
  {% include 'react/js.html' %}
  </body>
</html>
