  <nav class="navbar navbar-dark bg-dark"></nav>
  <nav class="navbar navbar-dark bg-primary"></nav>
  <nav class="navbar navbar-light" style="background-color:#e3f2fd"></nav>
  <nav align="center" class="navbar navbar-light bg-light">
    
    <form class="form-inline">
      <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">@</span>
      </div>
      <input class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1"></div>
    </form>
  </nav>
